<div [formGroup]="userForm">
  <span class="p-float-label">
    <input pInputText id="firstName" type="text" formControlName="firstName" />
    <label for="firstName">FirstName</label>
  </span>
  <input formControlName="lastName" />
  <input formControlName="login" />
  <input formControlName="passowrd" />
  <input formControlName="email" />
  <input formControlName="phone" />
  <input formControlName="accountNumber" />
</div>
<div>
  <button pButton (click)="saveUser()"  class="p-button-raised">Save</button>
</div>
<span class="p-float-label">
  <input id="float-input" type="text" pInputText> 
  <label for="float-input">Username</label>
</span>


